<!DOCTYPE html>
<div class="header">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="company_name"> inas HAKKOU </span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>phone</mat-icon>
    </button>
    <!-- <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="logo"></div>
</div>
<div class="content">
  <section class="company-info">
    <app-button-contact-candidat></app-button-contact-candidat>
     <h2>inas HAKKOU</h2>
    <div class="contact-info">
      <div class="info-item">
        <mat-icon>email</mat-icon>
          <div class="info">
              <p class="label">Email</p>
              <!-- <p class="text">{{infos.email}}</p> -->
               <p>inas.com</p>
          </div>
      </div>
      <div class="info-item">
        <mat-icon>phone</mat-icon>
          <div class="info">
              <p class="label">Numéro de téléphone</p>
              <!-- <p class="text">{{infos.tel}}</p> -->
               <p>0744740609</p>
          </div>
      </div>
      <div class="info-item">
        <mat-icon>location_on</mat-icon>
          <div class="info">
              <p class="label">Localisation</p>
              <!-- <p class="text">{{infos.adresse}}</p> -->
               <p>figuig, maroc</p>
          </div>
      </div>
      <div class="info-item">
         <mat-icon>restaurant</mat-icon>
          <div class="info">
              <p class="label">Disponibilité</p>
              <!-- <p class="text">{{infos.typeRestaurant}}</p> -->
               <p>lundi, mardi</p>
          </div>
      </div>
  </div>
  </section>

  <div class="separator"></div>
  <section class="description">
    <h2>Description</h2>
     <p>inas ina ina inia ina iania ia ainia hzu db ud bvh chc vyc uczuhdiz</p>
    <a href="#" class="lien">Voir le CV</a>
  </section>


  <div class="separator"></div>
  <section class="formations">
    <h2>Formations</h2>
    <div class="interview-date">
      <div class="date-label">
        <span class="showInfosEntretien">2022-2023</span>
        <ul class="interview-l">
          <li class="detailsEntretien">
            <span></span>master1
          </li>
          <li class="detailsEntite">
            <span></span>université lumière lyon 2
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="separator"></div>
  <section class="advantages">
    <h2>Compétences</h2>
    <mat-chip-listbox>
      <!-- <mat-chip *ngFor="let avantage of infos.avantages" color="primary" class="avant">
        {{ avantage }}
      </mat-chip> -->
      <mat-chip color="primary" class="avant">responsabilité</mat-chip>
      <mat-chip color="primary" class="avant">esprit d'équipe</mat-chip>
    </mat-chip-listbox>
  </section>

  <div class="separator"></div>
  <section class="experiences">
    <h2>Experiences</h2>
    <div class="interview-date">
      <div class="date-label">
        <span class="showInfosEntretien">2022-2023</span>
        <ul class="interview-l">
          <li class="detailsEntretien">
            <span></span>• Employé polyvalant
          </li>
          <li class="detailsEntite">
            <span></span>• Lidl
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="separator"></div>
  <section class="social-links">
    <h2>Social média</h2>
    <!-- <div class="info-item">
      <mat-icon>language</mat-icon>
        <div class="info">
          <p class="label">site Internet</p>
          <a href="" target="_blank"></a><p class="text">site.com</p>
        </div>
    </div> -->
    <div class="info-item">
      <mat-icon>linkdIn</mat-icon>
        <div class="info">
          <p class="label">LinkdIn</p>
          <a href="https://www.LinkdIn.com" target="_blank"></a><p class="text">profil_linkdin</p>
        </div>
    </div>
  </section>
</div>
