<h2 class="title">Complétez votre profil</h2>
<p class="subtitle-1">Disponibilités</p>

<div class="form-group mt-4">
  <p>jours disponibles :</p>
  <div class="d-flex flex-wrap justify-content-center mt-4">
    <div class="form-check day-checkbox mx-auto" *ngFor="let day of days">
      <input
        name="disponibilite"
        type="checkbox"
        class="form-check-input"
        [id]="day"
        [checked]="availabilityInfo[day]"
        (change)="onDayChange(day)"
      />
      <label class="form-check-label" [for]="day">{{ day }}</label>
    </div>
  </div>
</div>

<p>Plages horaires disponibles</p>
<div class="d-flex flex-wrap justify-content-center mt-4">
  <div class="form-check time-slot-checkbox mx-auto" *ngFor="let slot of timeSlots">
    <input
      name="plage_horaire"
      type="checkbox"
      class="form-check-input"
      [id]="slot"
      [checked]="timeSlotsInfo[slot]"
      (change)="onTimeSlotChange(slot)"
    />
    <label class="form-check-label" [for]="slot">{{ slot }}</label>
  </div>
</div>
