<div class="messagerie">
  <header>
    <button class="btn back-btn">
      <i class="fa fa-arrow-left"></i>
    </button>
    <h1>Messagerie</h1>
    <button class="btn new-message-btn">
      <i class="fa fa-pencil"></i>
    </button>
  </header>
  <ul class="message-list">
    <li class="message-item">
      <img src="andy.jpg" alt="Andy Robertson" class="profile-pic">
      <div class="message-info">
        <h2>Andy Robertson</h2>
        <p>Oh yes, please send your CV...</p>
      </div>
      <i class="fa fa-envelope"></i>
    </li>
    <li class="message-item">
      <img src="giorgio.jpg" alt="Giorgio Chiellini" class="profile-pic">
      <div class="message-info">
        <h2>Giorgio Chiellini</h2>
        <p>Hello sir, Good Morning</p>
      </div>
    </li>
    <li class="message-item">
      <img src="alex.jpg" alt="Alex Morgan" class="profile-pic">
      <div class="message-info">
        <h2>Alex Morgan</h2>
        <p>I saw the UI/UX Designer vac...</p>
      </div>
    </li>
  </ul>
</div>
