<div class="messagerie">
  <app-header></app-header>

  <ul class="message-list">
    <li class="message-item" (click)="redirectToMessage('andy-robertson')">
      <img src="assets/images/1.PNG" alt="Andy Robertson" class="profile-pic">
      <div class="message-info">
        <h2>Andy Robertson</h2>
        <p class="active">Oh yes, please send your CV...</p>
      </div>
      <span class="notification-badge">2</span>
    </li>

    <li class="message-item" (click)="redirectToMessage('giorgio-chiellini')">
      <img src="assets/images/2.PNG" alt="Giorgio Chiellini" class="profile-pic">
      <div class="message-info">
        <h2>Giorgio Chiellini</h2>
        <p>Hello sir, Good Morning</p>
      </div>
    </li>

    <li class="message-item" (click)="redirectToMessage('alex-morgan')">
      <img src="assets/images/3.PNG" alt="Alex Morgan" class="profile-pic">
      <div class="message-info">
        <h2>Alex Morgan</h2>
        <p>I saw the UI/UX Designer vac...</p>
      </div>
    </li>
  </ul>
</div>
