/* src/app/accueil/accueil.component.scss */
.accueil-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD700; // couleur de fond
    padding: 16px;
    position: fixed; // Important pour occuper tout l'écran
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 2%;
  }
  
  .logo img {
    width: 3rem;
    height: 4rem;
    margin-right: 24rem;
    margin-left: 3rem;
  }
  
  
  .menu {
    width: 100%;
    text-align: center;
  }
  
  .menu h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .menu button {
    width: 100%;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ffffff;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .menu button.selected,
  .menu button:hover {
    color: #000; /* Texte noir pour l'élément sélectionné ou au survol */
  }
  
  .menu mat-divider {
    margin: 5px 15px;
    color: #ffffff; /* Légèrement plus clair pour la séparation */
  }
  
  .close-btn {
    position: absolute;
    top: 3%;
    right: 13%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  button mat-icon {
    margin-right: 8px; // Espace entre l'icône et le texte
  }
  