<div class="post-container">
  <app-header></app-header>

  <p class="subtitle-1">Créneaux pour un entretien</p>

  <!-- Calendrier -->
  <div>
    <label class="form-label">Sélectionner une date</label>
    <mat-calendar [(selected)]="selectedDate"></mat-calendar>
  </div>

  <!-- Sélection des heures -->
  <div class="mt-3">
    <label class="form-label">Début de l’entretien</label>
    <input type="time" class="form-control" [(ngModel)]="startTime" />
  </div>
  <div class="mt-3">
    <label class="form-label">Fin de l’entretien</label>
    <input type="time" class="form-control" [(ngModel)]="endTime" />
  </div>

  <!-- Boutons de navigation -->
  <div class="button-container row">
    <button (click)="goToPreviousStep()" class="btn fixed-button ms-2">Précédent</button>
    <button (click)="saveSlot()" class="btn fixed-button">Sauvegarder</button>
  </div>
</div>
