.post-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
}

.custom-dropdown {
  position: relative;
}

.chevron-icon {
  position: absolute;
  right: 25px; /* Ajustez la valeur selon votre design */
  top: 73%;
  transform: translateY(-50%);
  pointer-events: none; /* Empêche l'icône d'être cliquable */
  color: #ccc; /* Couleur du chevron */
}

.button-container {
  position: fixed;         // Ou "absolute" si vous préférez
  bottom: 25px;           // Espace depuis le bas de la page
  left: 50%;              // Centrer horizontalement
  transform: translateX(-50%); // Ajuster pour centrer parfaitement
  z-index: 1000;          // Assurez-vous qu'il soit au-dessus des autres éléments
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgb(255, 255, 255, 1));
  padding-top: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  justify-content: center;
}

.fixed-button {         // Assurez-vous qu'il soit au-dessus des autres éléments
  border-radius: 10px;
  background-color: #ffad00 !important;
  color: #1e1e1e !important;
  padding: 7px;
  margin-bottom: 20px;
  width: 45%;
}

.full-width {
  width: 100%;
}

