<!DOCTYPE html>
<div class="container-candidatures">
  <div class="top-section">
    <div class="item1">
      <button mat-icon-button>
        <mat-icon class="icon-header" [routerLink]="['/rechercheDesCandidats']">arrow_back</mat-icon>
      </button>
      <span class="company_name"> Mes candidatires </span>
    </div>
  </div>

  <div class="content-candidature" *ngFor="let candidature of candidatures">
    <div class="items-candidature">
      <div class="bloc-status">
        <div [ngClass]="{'enCours': candidature.statut === false, 'accepter': candidature.statut === true}">
          {{ candidature.statut === false ? 'En cours' : 'Acceptée' }}
        </div>      </div>
      <div class="info-offre">
        <img class="logo" src="assets/images/candidature.png" alt="">
        <p class="poste">{{ getAnnonceTitre(candidature.annonce) }}</p>
        <div class="dispo">
        </div>
        <div class="date-prix">
          <p class="date">Candidature envoyée le {{candidature.date_candidature}}</p>
          <div class="price">
            <p class="prix">{{ getAnnonceSalaire(candidature.annonce) }}</p>
            <p class="heure">/heure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-menu/>
