<nav class="bottom-menu">
  <a class="menu-item" routerLink="/accueil" routerLinkActive="active">
    <span class="material-icons-outlined">home</span>
    <span>Accueil</span>
  </a>
  <a *ngIf="typeUser === 'candidat'" class="menu-item" routerLink="/mesFavoriesOffre" routerLinkActive="active">
    <span class="material-icons-outlined">bookmark_border</span>
    <span>Mes favoris</span>
  </a>
  <a *ngIf="typeUser === 'restaurant'" class="menu-item" routerLink="/mesFavorisCandidats" routerLinkActive="active">
    <span class="material-icons-outlined">bookmark_border</span>
    <span>Mes favoris</span>
  </a>
  <a *ngIf="typeUser === 'candidat'" class="menu-item" routerLink="/mesCandidatures" routerLinkActive="active">
    <span class="material-icons-outlined">work_outline</span>
    <span>Mes postes</span>
  </a>
  <a *ngIf="typeUser === 'restaurant'" class="menu-item" routerLink="/profile-restaurant" routerLinkActive="active">
    <span class="material-icons-outlined">work_outline</span>
    <span>Mes postes</span>
  </a>
  <a class="menu-item" routerLink="/messagerie" routerLinkActive="active">
    <span class="material-icons-outlined">chat</span>
    <span>Messagerie</span>
  </a>
  <a *ngIf="typeUser === 'candidat'" class="menu-item" routerLink="/profile-candidat" routerLinkActive="active">
    <span class="material-icons-outlined">person_outline</span>
    <span>Mon profil</span>
  </a>
  <a *ngIf="typeUser === 'restaurant'" class="menu-item" routerLink="/profile-restaurant" routerLinkActive="active">
    <span class="material-icons-outlined">person_outline</span>
    <span>Mon profil</span>
  </a>
</nav>
