.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: #757575; /* Couleur par défaut */

    .material-icons-outlined {
      font-size: 24px; /* Taille des icônes */
      color: #757575; /* Couleur par défaut des icônes */
      transition: color 0.3s ease; /* Animation fluide */
    }

    span {
      font-size: 12px;
      color: #757575; /* Couleur par défaut du label */
      margin-top: 5px;
      transition: color 0.3s ease; /* Animation fluide */
    }

    &.active {
      color: #eeae00; /* Couleur jaune pour le texte et l'icône actif */

      .material-icons-outlined {
        color: #eeae00; /* Couleur jaune pour l'icône actif */
      }

      span {
        color: #eeae00; /* Couleur jaune pour le label actif */
        font-weight: bold;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 30%;
        height: 3px;
        background-color: #eeae00; /* Ligne jaune sous l'élément actif */
        border-radius: 5px;
      }
    }
  }
}
