.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #F6BB10;
  padding: 20px 0;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;

    i {
      font-size: 18px;
      color: white;
    }

    span {
      font-size: 12px;
    }
  }
}
