.post-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}

.subtitle-1 {
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
}

.form-label {
  font-size: 14px;
  color: #1e1e1e;
  margin-bottom: 6px;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.custom-dropdown {
  position: relative;
}

.chevron-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #ccc;
}

.form-check-input {
  accent-color: #ffad00;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgb(255, 255, 255, 1));
  padding: 15px 15px 35px 15px;
  width: 100%;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.fixed-button {         // Assurez-vous qu'il soit au-dessus des autres éléments
  border-radius: 10px;
  background-color: #ffad00 !important;
  color: #1e1e1e !important;
  padding: 12px;
  width: 48%;
}

.fixed-button:hover {
  background-color: #e79e00 !important;
}

label{
  font-weight: 600;
  font-size: 18px !important;
  color: black;
}

.form-check-label{
  font-size: 16px !important;
}

input, select {
  padding: 18px !important;
}
.form-check-input{
  padding: 1px !important;
}

input::placeholder {
  color: gray;
  font-size: 16px;
  opacity: 0.8;
}
