<!DOCTYPE html>
<div class="container-details">
  <div class="top-section">
    <div class="item1">
      <button mat-icon-button>
        <mat-icon class="icon-header" [routerLink]="['/rechercheDesCandidats']">arrow_back</mat-icon>
      </button>
      <span class="company_name"> Détails </span>
    </div>
    <div class="item2">
      <div class="select" class="select"
      [ngClass]="{'selected': isSelected}"
      (click)="toggleSelection()"></div>
      <button mat-icon-button>
        <mat-icon class="icon-header">share</mat-icon>
      </button>
    </div>
  </div>

  <section class="section1">
    <div class="bloc1">
      <span class="nomEntreprise">{{emploiDetails.entreprise}}</span>
      <span class="poste">{{emploiDetails.poste}}</span>
    </div>
    <img class="bloc2" src="{{emploiDetails.logo}}">
  </section>

  <section class="section2">
      <section class="company-info">
        <div class="contact-info">
          <div class="info-item">
            <mat-icon>location_on</mat-icon>
              <div class="info">
                  <p class="label">Lieu</p>
                  <p class="text">{{emploiDetails.adresse}}</p>
              </div>
          </div>

                  <!-- Salaire -->
          <div class="info-item">
            <mat-icon>attach_money</mat-icon> <!-- Icône pour le salaire -->
            <div class="info">
                <p class="label">Salaire</p>
                <p class="text">{{emploiDetails.prixParHeure}}</p>
            </div>
          </div>

          <!-- Disponibilité -->
          <div class="info-item">
            <mat-icon>event_available</mat-icon> <!-- Icône pour la disponibilité -->
            <div class="info">
                <p class="label">Disponibilité</p>
                <p class="text">{{emploiDetails.disponibilites}}</p>
            </div>
          </div>
        </div>
      </section>
  </section>
  <div class="separator"></div>

  <section class="advantages">
    <div class="blocTitle">
      <div class="iconAvant"></div>
      <h2>Avantages</h2>
    </div>
    <mat-chip-listbox class="tags">
      <mat-chip *ngFor="let avantage of emploiDetails.avantages" class="tag">
        {{ avantage }}
      </mat-chip>
    </mat-chip-listbox>
  </section>

  <div class="separator"></div>
  <section class="description">
    <div class="blocTitle">
      <div class="iconDesc"></div>
      <h2>Description du poste</h2>
    </div>
    <p class="Texte">{{emploiDetails.description}}</p>
  </section>

  <button class="btnPostuler">Postuler</button>
</div>

