<div class="container">
  <header class="header">
    <div class="top-bar">
      <img src="assets/BurKing.jpg" alt="Logo" class="logo" />
      <button class="menu-button">
        <img src="assets/menu.png" alt="Menu" class="logo" />
      </button>
    </div>

    <div class="search-section">
      <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Rechercher" />
        <button class="filter-icon-button" (click)="toggleFilter()">
          <img src="assets/Filter.png" alt="filtre" class="filtre" />
        </button>
      </div>
    </div>
  </header>



</div>