.container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1.5rem;
  background: linear-gradient(98deg, #f1ba00, #f59609);
  border-radius: 8px;
  color: white;
  text-align: center;

  .top-bar {
    display: flex;
    width: 100%;
  }

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }

  .welcome {
    font-weight: 200;
    font-size: 1.0rem;
    margin-right: 4rem;
    margin-top: 1rem;
  }

  .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.search-section {
  width: 100%;
  max-width: 350px;

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 4rem;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;

    .search-icon {
      color: #b0b0b0;
    }

    input {
      border: none;
      outline: none;
      flex-grow: 1;
      font-size: 1rem;
      color: #666;
      padding: 0.5rem;
    }

    .filter-icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background-color: #ffffff;
      border: none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      img.filtre {
        color: #000000;
        font-size: 24px;
      }
    }
  }
}
