<h2 class="title">Complétez votre profil</h2>
<h5 class="subtitle-1">Expérience</h5>

<div *ngFor="let experience of experiences; let i = index" class="experience mb-4">
  <h6>Expérience {{ i + 1 }}</h6>

  <div class="form-group">
    <label for="jobTitle{{i}}">Poste occupé</label>
    <input type="text" class="form-control" id="jobTitle{{i}}" [(ngModel)]="experience.title" placeholder="Entrez le nom du poste">
  </div>

  <div class="form-group mt-4 mb-4">
    <label for="companyName{{i}}">Nom de la structure *</label>
    <input type="text" class="form-control" id="companyName{{i}}" [(ngModel)]="experience.company" placeholder="Entrez le nom de la structure">
  </div>

  <div class="form-group">
    <label>Période *</label>
    <div class="row">
      <div class="col-3">
        <label for="startDate{{i}}">Début</label>
      </div>
      <div class="col-9">
        <input type="date" class="form-control" id="startDate{{i}}" [(ngModel)]="experience.startDate" placeholder="Sélectionnez une date">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="endDate{{i}}">Fin</label>
      </div>
      <div class="col-9">
        <input type="date" class="form-control" id="endDate{{i}}" [(ngModel)]="experience.endDate" placeholder="Sélectionnez une date">
      </div>
    </div>
  </div>
</div>
<!-- Conteneur pour le bouton et le texte -->
<div class="d-flex align-items-center justify-content-center mt-4 mb-4">
  <!-- Bouton circulaire avec icône -->
  <button class="btn btn-primary me-2 mt-0" (click)="addExperience()" style="border-radius: 30%; width: 25px; height: 25px; padding: 0;">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <span class="text-dark" (click)="addExperience()" style="cursor: pointer;">Ajouter une expérience</span>
</div>

<label class="title mt-4">Langues parlées</label>
<div class="form-group d-flex align-items-center">
  <div class="form-check me-3">
    <input type="checkbox" class="form-check-input" id="french" [(ngModel)]="spokenLanguages.french">
    <label class="form-check-label" for="french">Français</label>
  </div>
  <div class="form-check me-3">
    <input type="checkbox" class="form-check-input" id="english" [(ngModel)]="spokenLanguages.english">
    <label class="form-check-label" for="english">Anglais</label>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" id="otherLanguages" [(ngModel)]="spokenLanguages.other" placeholder="Autres langues">
  </div>
</div>
