<div class="splash-container">
  <p class="brand">Job<span>Fiksi</span></p>
  <img class="mt-5" src="assets/images/splash-image.png" alt="Illustration" />
  <h1 class="mt-5">
    <span>On vous</span><br>
    <span class="span">Fixe le meilleur</span><br>
    <span>Travail !</span>
  </h1>
  <p class="description">Partagez ou explorez les meilleures offres de travail dans le domaine de la restauration !</p>
  <button (click)="goToLogin()" class="btn-next">
    <i class="fas fa-arrow-right"></i>
  </button>
</div>

