<div class="no-messages">
  <header>
    <button class="btn back-btn">
      <i class="fa fa-arrow-left"></i>
    </button>
    <h1>Messagerie</h1>
    <button class="btn new-message-icon">
      <i class="fa fa-pencil"></i>
    </button>
  </header>

  <div class="content">
    <img src="assets/images/msg.PNG" alt="Pas de message" class="illustration">
    <h2>Pas de message</h2>
    <p>Vous n'avez actuellement aucun message.</p>
    <button class="btn new-message-btn">
      ÉCRIRE UN MESSAGE
    </button>
  </div>
</div>
