<h2 class="title">Complétez votre profil</h2>

<div>
  <p class="subtitle-1">Information de restaurant</p>

  <div class="form-group my-3 mt-5">
    <label for="phone">Nom de l’établissement</label>
    <input type="tel" class="form-control" id="phone" [(ngModel)]="infoRestaurant.name" placeholder="Numéro de téléphone">
  </div>
  <div class="form-group">
    <label for="address">Type de restauration</label>
    <input type="text" class="form-control" id="address" [(ngModel)]="infoRestaurant.type" placeholder="N° et rue">
  </div>
  <div class="form-group">
    <label for="postalCode">Adresse de l’établissement</label>
    <input type="text" class="form-control" id="postalCode" [(ngModel)]="infoRestaurant.address" placeholder="Code postal">
  </div>
  <div class="form-group">
    <label for="city">Téléphone de contact</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="infoRestaurant.GSM" placeholder="Ville">
  </div>
  <div class="form-group">
    <label for="city">Email de l’établissement</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="infoRestaurant.email" placeholder="Ville">
  </div>
  <div class="form-group">
    <label for="city">Site web</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="infoRestaurant.website" placeholder="Ville">
  </div>
</div>
