<div class="restaurant-info-container">
  <form [formGroup]="restauForm">
    <div class="form-group">
      <label for="restaurantName">Nom du Restaurant</label>
      <input
        id="restaurantName"
        type="text"
        class="form-control"
        formControlName="restaurantName"
        [(ngModel)]="restauForm.controls['restaurantName'].value"
        placeholder="Entrez le nom du restaurant"
      />
      <small
        *ngIf="restauForm.get('restaurantName')?.invalid && restauForm.get('restaurantName')?.touched"
        class="text-danger"
      >
        Le nom du restaurant est requis (min. 3 caractères).
      </small>
    </div>

    <div class="form-group">
      <label for="address">Adresse</label>
      <input
        id="address"
        type="text"
        class="form-control"
        formControlName="address"
        [(ngModel)]="restauForm.controls['address'].value"
        placeholder="Entrez l'adresse"
      />
      <small
        *ngIf="restauForm.get('address')?.invalid && restauForm.get('address')?.touched"
        class="text-danger"
      >
        L'adresse est requise.
      </small>
    </div>

    <div class="form-group">
      <label for="siret">Numéro SIRET</label>
      <input
        id="siret"
        type="text"
        class="form-control"
        formControlName="siret"
        [(ngModel)]="restauForm.controls['siret'].value"
        placeholder="Entrez le numéro SIRET"
      />
      <small
        *ngIf="restauForm.get('siret')?.hasError('invalidSiret') && restauForm.get('siret')?.touched"
        class="text-danger"
      >
        Le numéro SIRET doit contenir 14 chiffres.
      </small>
    </div>

    <div class="form-group">
      <label for="phone">Numéro de téléphone</label>
      <input
        id="phone"
        type="text"
        class="form-control"
        formControlName="phone"
        [(ngModel)]="restauForm.controls['phone'].value"
        placeholder="Entrez le numéro de téléphone"
      />
      <small
        *ngIf="restauForm.get('phone')?.hasError('pattern') && restauForm.get('phone')?.touched"
        class="text-danger"
      >
        Le numéro de téléphone doit contenir 10 chiffres.
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        [(ngModel)]="restauForm.controls['email'].value"
        placeholder="Entrez l'email"
      />
      <small
        *ngIf="restauForm.get('email')?.hasError('email') && restauForm.get('email')?.touched"
        class="text-danger"
      >
        Adresse email invalide.
      </small>
    </div>
  </form>
</div>
