<div class="post-container">
  <app-header />
  <p class="title-page">Créneaux pour un entretien</p>
  <p class="title mt-4 mb-5">Sélectionner des dates</p>
  <!-- <div class="row mt-4 mb-3" *ngFor="let slot of slots; let i = index">
    <div class="col-12 position-relative d-flex align-items-center">
      <label for="slot-{{ i }}" class="form-label me-3">
        Créneau {{ i + 1 }}
      </label>

      <div class="input-container position-relative flex-grow-1">
        <input
          id="slot-{{ i }}"
          type="text"
          class="form-control"
          [value]="slot"
          (click)="editSlot(i)"
          readonly
        />
        <i class="fa fa-calendar position-absolute calendar-icon fw-lighter"></i>
      </div>
    </div>
  </div> -->
  <div class="row mt-4 mb-3" *ngFor="let slot of slots; let i = index">
  <div class="input-container">
    <label for="date-input" class="input-label" for="slot-{{ i }}">Créneau {{i+1}}</label>

    <div class="field-group">
      <div class="custom-field">
        <!-- <label for="date-picker">Fixer une date</label> -->
        <input
          id="slotDate-{{ i }}"
          type="date"
          class="date-input"
          placeholder="Choisissez une date"
        />
      </div>

      <div class="custom-field">
        <!-- <label for="time-picker">Fixer une heure</label> -->
        <input
          id="SlotTime-{{i}}"
          type="time"
          class="time-input"
          placeholder="Choisissez une heure"
        />
      </div>
    </div>
  </div>
</div>

  <!-- Navigation Buttons -->
  <div class="button-container row">
    <button (click)="goToPreviousStep()" class="btn fixed-button btn-primary col-5 me-2">Précédent</button>
    <button (click)="goToNextStep()" class="btn fixed-button btn-primary col-5">Continuer</button>
  </div>
</div>
