<div class="container-fluid">
  <nav class="nav d-flex justify-content-around bg-light py-3">
      <a [routerLink]="[acceuil]" class="nav-icon">
          <i class="material-icons">home</i>
          <span>Accueil</span>
      </a>
      <a [routerLink]="[favorie]" class="nav-icon">
          <i class="material-icons">bookmark</i>
          <span>Mes favoris</span>
      </a>
      <a [routerLink]="[posteoucandidature]" class="nav-icon active">
          <i class="material-icons">work</i>
          <span>Mes postes</span>
      </a>
      <a [routerLink]="[messagerie]" class="nav-icon">
          <i class="material-icons">chat</i>
          <span>Messagerie</span>
      </a>
      <a [routerLink]="[profil]" class="nav-icon">
          <i class="material-icons">person</i>
          <span>Mon profil</span>
      </a>
  </nav>
</div>
