<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <i class="material-icons">home</i>
      <span>Accueil</span>
    </li>
    <li class="nav-item">
      <i class="material-icons">place</i>
      <span>Recherche</span>
    </li>
    <li class="nav-item">
      <i class="material-icons">bookmark</i>
      <span>Mes favoris</span>
    </li>
    <li class="nav-item">
      <i class="material-icons">work</i>
      <span>Mes postes</span>
    </li>
    <li class="nav-item">
      <i class="material-icons">message</i>
      <span>Messagerie</span>
    </li>
    <li class="nav-item">
      <i class="material-icons">person</i>
      <span>Mon profil</span>
    </li>
  </ul>
</nav>
