.settings-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #F9F9F9;
  padding: 30px 20px 0 20px;
}

.settings-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12%;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 12px;

  .item-left {
    display: flex;
    align-items: center;
    gap: 15px;

    i {
      font-size: 16px;
    }
  }

  .arrow {
    font-size: 20px;
    color: #b0b0b0;
  }

  input[type="checkbox"] {
    width: 34px;
    height: 18px;
    appearance: none;
    background-color: #ddd;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    border: none; /* Supprime complètement la bordure */
    padding: 0; /* Enlève tout espacement interne */

    &:checked {
      background-color: #4caf50;
    }

    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: white;
      border-radius: 50%;
      top: 50%; /* Centre verticalement */
      left: 2px;
      transform: translateY(-50%); /* Ajuste le cercle pour être parfaitement centré */
      transition: left 0.3s;
    }

    &:checked:before {
      left: 18px;
    }

    &:focus {
      border: none !important; /* Bordure personnalisée au focus */
      box-shadow: none !important; /* Ombre au focus */
    }
  }
}

.settings-container {
  position: relative;
}

.logout-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  //background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer que la popup est en avant-plan */
}

.logout-content {
  background: #fff;
  padding: 15px 25px 35px 25px;
  border-radius: 8px 8px 0 0;
  width: 100%;
  text-align: center;
}

.logout-content .barre {
  border: 3px solid rgba(0, 0, 0, 1) !important;
  border-radius: 15px;
  width: 10%;
  text-align: center;
  margin: 10px auto;
}


.logout-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}

.logout-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}

.confirm-button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #ffad00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-button {
  width: 100%;
  padding: 12px;
  background-color: #F6BB104A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

