<div class="main-container mt-4">
  <div class="row" *ngIf="userType === 'restaurant'">
    <div class="col-md-12 mb-2" *ngFor="let candidat of candidats | slice:0:list ? candidats.length : 10">
      <div class="card clickable-card pb-3" (click)="onCardCandidatClick(candidat)">
        <div class="row card-centent">
          <div class="col-2 ps-0 pe-0">
            <img *ngIf="candidat.image" [src]="candidat.image" class="img" alt="{{ candidat.nom }} {{ candidat.prenom }}">
          </div>
          <div class="col-8">
            <h6 class="card-title mb-1">{{ candidat.nom }} {{ candidat.prenom }}</h6>
            <p class="card-text address">{{candidat.ville}}, {{ candidat.code_postal }}, {{ candidat.pays }}</p>
          </div>
          <div class="col-2">
            <button mat-icon-button class="bookmark-button save-btn">
              <mat-icon>bookmark_border</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="['/login']" class="text-center text-black mt-3" *ngIf="!list">Voir plus</a>
  </div>
  <div class="row" *ngIf="userType === 'candidat'">
    <div class="col-md-12 mb-2" *ngFor="let item of annoncesAvecRestaurant | slice:0:list ? annoncesAvecRestaurant.length : 10">
      <div class="card clickable-card" *ngIf="item.restaurant != null" (click)="onCardAnnonceClick(item)">
        <div class="row card-centent">
          <div class="col-2 ps-0 pe-0">
            <img *ngIf="item.restaurant.image" [src]="item.restaurant.image" class="img">
          </div>
          <div class="col-8">
            <h6 class="card-title mb-1">{{ item.annonce.titre }}</h6>
            <p class="card-text address">{{ item.restaurant.nom }} , {{ item.restaurant.ville }}, {{ item.restaurant.code_postal }}, {{ item.restaurant.pays }}</p>
          </div>
          <div class="col-2">
            <button mat-icon-button class="bookmark-button save-btn">
              <mat-icon>bookmark_border</mat-icon>
            </button>
          </div>
          <div class="ps-0">
            <p class="salary ms-0 mt-3"><strong>{{ item.annonce.salaire }}€</strong>/h</p>
            <div class="d-flex flex-nowrap pb-0">
              <div *ngIf="item.annonce.horaire_travail != null" class="me-3">
                <p class="tag">{{ item.annonce.horaire_travail }}</p>
              </div>
              <div *ngIf="item.annonce.type_contrat != null" class="me-3">
                <p class="tag">{{ item.annonce.type_contrat }}</p>
              </div>
              <div *ngIf="item.annonce.type_annonce != null" class="me-3">
                <p class="tag">{{ item.annonce.type_annonce }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="['/login']" class="text-center text-black mt-3" *ngIf="!list">Voir plus</a>
  </div>

</div>
