.header {
  background: linear-gradient(to bottom, #fbbc04, #fff);
  text-align: center;
}

.toolbar{
  margin: 0;
  background-color: transparent;
}

.logo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-top: 1.9rem;
  margin-bottom: 0rem;
  background-image: url("user.png");
  background-size: cover;
  border: 0.2rem solid #f3f2f2;
}
.spacer {
  flex: 1 1 auto;
  padding: 1.4rem;
}
h2{
  font-size: 1.1rem;
  font-weight: 500;
}
p{
  font-size: 0.9rem;
}
.custum{
  font-size: 12px;
}
.company-info{
  justify-content: center;
  // justify-items: center;
}
.content {
  padding: 2rem;
}

.bloc-info{
  display: flex;
  flex-direction: row;
}
.infos{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.company-info mat-icon {
  color: #fbbc04;
  margin-right: 8px;
}
.company_name{
  font-size: 1.2rem;
}
.separator{
  height: 0.07rem;
  background-color:#d3d3d3;
  margin-top: 1.5rem;
}
::ng-deep mat-chip.avant{
  background-color: #f6bd1076 !important; /* Exemple de couleur de fond personnalisée */
  color: white !important; /* Couleur du texte */
  // font-size: 0.9rem; /* Taille de la police */
  padding: 0 12px;
}

.social-links mat-icon {
  color: #fbbc04;
  margin-right: 8px;
}
.contact-info {
  width: 100%;
  padding: 0.5rem;
  margin: auto;
  border-radius: 8px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.01rem;
}
.info-item p{
  font-weight: 500;
}

.info-item:last-child {
  margin-bottom: 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  color: #f6b400;
}

.label {
  font-size: 0.9em;
  color: #888;
  margin: 0;
}

.text {
  font-size: 0.9em;
  font-weight: 500;
  color: #333;
  margin: 0;
}
.lien{
  text-decoration: none;
  font-weight: bold;
  color: #f6b400;
  font-size: 0.9rem;
}
.poste-container {
  width: 300px;
  // height: 15rem;
  margin: 10px;
  border: 1px solid #f6efef90;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.poste-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #e7e2e257;
  font-weight: 500;
}

.poste-description {
  padding: 10px;
  background-color: #e7e2e257;
}

//////////////// formations/experience////////////////////
.interview-date {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  margin-bottom: 0.2rem;
}

.date-label {
  margin-right: 10px;
  border-left: 3px solid #FFC107; /* Yellow border */
  padding-left: 10px;
}
.showInfosEntretien{
  font-size: 0.8rem;
  color: #989797;
}
.interview-l .detailsEntretien{
  color: #000;
  font-size: 0.95rem;
  font-weight: 500;
}
.interview-l .detailsEntite{
  color: #989797;
  font-size: 0.9rem;
  // font-weight: 500;
}
.interview-l {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 0.4rem;
}
