<div class="profile-container">
  <app-profile-header
    [step]="step"
    (previousStep)="goToPreviousStep()"
    (skip)="skip()">
  </app-profile-header>
  <div class="component-container">
    <app-informations *ngIf="step === 1" [userType]="userType" [personalInfo]="personalInfo"></app-informations>
    <app-contact *ngIf="step === 2" [userType]="userType" [contactInfo]="contactInfo"></app-contact>
    <app-preference *ngIf="step === 3 && userType === 'candidat'" [userType]="userType" [preferencesInfo]="preferencesInfo"></app-preference>
    <app-info-restaurant *ngIf="step === 3 && userType === 'restaurant'" [userType]="userType" [restauInfo]="restauInfo"></app-info-restaurant>
    <app-disponibilites *ngIf="step === 4 && userType === 'candidat'" [userType]="userType" [disponibilitesInfo]="disponibilitesInfo"></app-disponibilites>
    <app-notifications *ngIf="step === 4 && userType === 'restaurant'" [userType]="userType" [notificationsInfo]="notificationsInfo"></app-notifications>
    <app-description *ngIf="step === 5" [userType]="userType" [descriptionInfo]="descriptionInfo"></app-description>
    <app-formation *ngIf="step === 6" [userType]="userType" [formationInfo]="formationInfo"></app-formation>
    <app-experiences *ngIf="step === 7" [userType]="userType" [experiencesInfo]="experiencesInfo"></app-experiences>
    <app-cv *ngIf="step === 8"  [userType]="userType" [cvInfo]="cvInfo"></app-cv>
    <app-identity *ngIf="step === 9"  [userType]="userType" [identityInfo]="identityInfo"></app-identity>
    <app-bank *ngIf="step === 10"  [userType]="userType" [bankInfo]="bankInfo"></app-bank>
    <app-notifications *ngIf="step === 11" [userType]="userType" [notificationsInfo]="notificationsInfo"></app-notifications>
  </div>
  <div class="button-container">
    <button *ngIf="(step != 11  && (userType === null || userType === 'candidat')) || (step != 4 && userType === 'restaurant')" (click)="goToNextStep()" [disabled]="!userType" class="fixed-button btn btn-primary full-width">Continuer</button>
    <button *ngIf="(step === 11  && userType === 'candidat') || (step === 4  && userType === 'restaurant')" (click)="goToNextStep()" [disabled]="!userType" class="fixed-button btn btn-primary full-width">Terminer mon inscription</button>
  </div>
</div>
