.profile-container {
  position: relative;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #333; /* Set color to fit your design */
}

.step {
  margin-top: 40px; /* Space to keep the back button visible above content */
}

mat-icon {
  font-size: 24px;
}

.fixed-button {
  position: fixed;         // Ou "absolute" si vous préférez
  bottom: 20px;           // Espace depuis le bas de la page
  left: 50%;              // Centrer horizontalement
  transform: translateX(-50%); // Ajuster pour centrer parfaitement
  z-index: 1000;          // Assurez-vous qu'il soit au-dessus des autres éléments
  width: 90%;
  border-radius: 10px;
  background-color: #ffad00 !important;
  color: #1e1e1e !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skip {
  position: fixed;         // Position fixe
  top: 20px;              // Espace depuis le haut de la page
  right: 50px;            // Espace depuis la droite de la page
  z-index: 1000;          // Assurez-vous qu'il soit au-dessus des autres éléments

  // Optionnel : ajouter un peu de style
  background: transparent; // Pour un look d'icône
  border: none;            // Pas de bordure
  cursor: pointer;         // Curseur pointeur pour indiquer un clic
  font-size: 12px;
}

.component-container{
  margin-top: 15%;
}

