p{
  font-weight: 500;
}

.input-autre{
  border: none;
  border-bottom: 1px solid #b9b9b9;
  border-radius: 0px;
  max-width: 100px;
  padding: 0px !important;
}

.input-autre:hover,
.input-autre:focus {
  background: transparent !important; /* ou la couleur de votre choix */
  box-shadow: none !important; /* Supprime l'ombre */
}

input::placeholder {
  color: #8c8c8c; /* Changez cette couleur selon vos besoins */
  opacity: 10; /* Assurez-vous que l'opacité est à 1 pour voir la couleur */
}

.location-preference label {
  font-weight: 600;
}

.salary-preference {
  margin-top: 20px;
}

.salary-range, km-range {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background-color: #eeae00 !important; /* Couleur principale pour l'intervalle sélectionné */
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: white !important; /* Couleur blanche pour les cercles */
  width: 20px !important; /* Réduction de la taille des cercles */
  height: 20px !important; /* Réduction de la taille des cercles */
  top: -8px !important; /* Ajustement de l'alignement vertical */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3) !important;

}

::ng-deep .ngx-slider .ngx-slider-pointer {
  transition: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer::after,
::ng-deep .ngx-slider .ngx-slider-pointer::before {
  content: none !important; /* Empêche l'apparition des styles pseudo-éléments */
}

