<h2 class="title">Complétez votre profil</h2>

<div *ngIf="userType === 'candidat'">
  <p class="subtitle-1">Notifications</p>

  <p>être alerté des offres disponible près de chez vous ?</p>
  <div class="form-group mt-2">
    <div class="d-flex justify-content-center align-items-center check-exp">
      <div class="form-check me-3 text-center">
        <input
          type="radio"
          id="yesNotifications"
          name="notification_mail"
          class="form-check-input"
          [(ngModel)]="notificationsPreference"
          [value]="1" />  <!-- Valeur 1 pour 'Oui' -->
        <label class="form-check-label" for="yesNotifications">Oui</label>
      </div>
      <div class="form-check text-center">
        <input
          type="radio"
          id="noNotifications"
          name="notification_mail"
          class="form-check-input"
          [(ngModel)]="notificationsPreference"
          [value]="0" />  <!-- Valeur 0 pour 'Non' -->
        <label class="form-check-label" for="noNotifications">Non</label>
      </div>
    </div>
  </div>
  <p class="subtitle-1">Autres</p>
  <p>Souhaitez-vous rendre votre profil public ?</p>
  <div class="form-group mt-2">
    <div class="d-flex justify-content-center align-items-center check-exp">
      <div class="form-check me-3 text-center">
        <input
          type="radio"
          id="yesPublicProfile"
          name="public_notification"
          class="form-check-input"
          [(ngModel)]="publicProfile"
          [value]="1" />  <!-- Valeur 1 pour 'Oui' -->
        <label class="form-check-label" for="yesPublicProfile">Oui</label>
      </div>
      <div class="form-check text-center">
        <input
          type="radio"
          id="noPublicProfile"
          name="public_notification"
          class="form-check-input"
          [(ngModel)]="publicProfile"
          [value]="0" />  <!-- Valeur 0 pour 'Non' -->
        <label class="form-check-label" for="noPublicProfile">Non</label>
      </div>
    </div>
  </div>
</div>
<div *ngIf="userType === 'restaurant'">
  <p class="subtitle-1">Notifications</p>

  <p>être alerté des candidats disponible ?</p>
  <div class="form-group mt-2">
    <div class="d-flex justify-content-center align-items-center check-exp">
      <div class="form-check me-3 text-center">
        <input
          type="radio"
          id="yesNotifications"
          name="notification_mail"
          class="form-check-input"
          [(ngModel)]="notificationsPreference"
          [value]="1" />  <!-- Valeur 1 pour 'Oui' -->
        <label class="form-check-label" for="yesNotifications">Oui</label>
      </div>
      <div class="form-check text-center">
        <input
          type="radio"
          id="noNotifications"
          name="notification_mail"
          class="form-check-input"
          [(ngModel)]="notificationsPreference"
          [value]="0" />  <!-- Valeur 0 pour 'Non' -->
        <label class="form-check-label" for="noNotifications">Non</label>
      </div>
    </div>
  </div>
</div>
