<!DOCTYPE html>
<div class="content">
  <section class="company-info">
    <h2>{{infos.nomEntreprise}}</h2>
    <div class="contact-info">
      <div class="info-item">
        <mat-icon>email</mat-icon>
          <div class="info">
              <p class="label">Email</p>
              <p class="text">{{infos.email}}</p>
          </div>
      </div>
      <div class="info-item">
        <mat-icon>phone</mat-icon>
          <div class="info">
              <p class="label">Numéro de téléphone</p>
              <p class="text">{{infos.tel}}</p>
          </div>
      </div>
      <div class="info-item">
        <mat-icon>location_on</mat-icon>
          <div class="info">
              <p class="label">Localisation</p>
              <p class="text">{{infos.adresse}}</p>
          </div>
      </div>
      <div class="info-item">
        <mat-icon>schedule</mat-icon>
          <div class="info">
              <p class="label">Horaire du restaurantn</p>
              <p class="text">{{infos.horaireRestaurant}}</p>
          </div>
      </div>
      <div class="info-item">
         <mat-icon>restaurant</mat-icon>
          <div class="info">
              <p class="label">Type de restaurant</p>
              <p class="text">{{infos.typeRestaurant}}</p>
          </div>
      </div>
  </div>
  </section>
<div class="separator"></div>
  <section class="description">
    <h2>Description</h2>
    <p>{{infos.description}}</p>
    <a href="#" class="lien">Voir les postes</a>
  </section>
  <div class="separator"></div>

  <section class="advantages">
    <h2>Avantages</h2>
    <mat-chip-listbox class="tags">
      <mat-chip *ngFor="let avantage of infos.avantages" class="tag">
        {{ avantage }}
      </mat-chip>
    </mat-chip-listbox>
  </section>

<div class="separator"></div>
  <section class="social-links">
    <h2>Notre présence sur Internet</h2>
    <div class="info-item">
      <mat-icon>language</mat-icon>
        <div class="info">
          <p class="label">site Internet</p>
          <a href="{{infos.siteInternet}}" target="_blank"></a><p class="text">{{infos.siteInternet}}</p>
        </div>
    </div>
    <div class="info-item">
      <mat-icon>linkdIn</mat-icon>
        <div class="info">
          <p class="label">LinkdIn</p>
          <a href="https://www.LinkdIn.com" target="_blank"></a><p class="text">{{infos.linkdin}}</p>
        </div>
    </div>
  </section>
</div>
