<!DOCTYPE html>
<div class="section">
  <div class="flechBack">
    <mat-icon class="icon-header">arrow_back</mat-icon>
  </div>
  <div class="abandonne">
    <a>Abandinner</a>
  </div>
  <div class="content">
    <h2>Génére un contrat</h2>
    <h3>Informations employeur</h3>

    <div class="form1">
      <div class="input-group">
        <label for="nomEtablissement">Nom de l'établissement *</label>
        <input type="text" name="nomEtablissement">
      </div>

      <div class="input-group">
        <label for="adresseEtablissement">Adresse complète de l'établissement *</label>
        <input type="text" name="adresseEtablissement">
      </div>

      <div class="input-group">
        <label for="nomEmployeur">Nom de l'employeur *</label>
        <input type="text" name="nomEmployeur">
      </div>

      <div class="input-group">
        <label for="tel">NNuméro de téléphone *</label>
        <input type="text" name="nomEtablissement">
      </div>

      <div class="input-group">
        <label for="numSIRET">Numéro SIRET*</label>
        <input type="text" name="nomEtablissement">
      </div>

      <button class="btn">Continue</button>
    </div>
  </div>
</div>

<app-menu-bar></app-menu-bar>