.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeae00; /* Couleur jaune */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  .logo-image {
    width: 50px;
    height: auto;
  }

  .welcome-message {
    font-size: 1.2rem;
    color: #ffffff;
  }
}

.search-section {
  display: flex;
  align-items: center;

  .search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    i {
      position: absolute;
      left: 10px; /* Position de l'icône */
      color: #888; /* Couleur de l'icône */
      font-size: 1.2rem;
    }

    .search-input {
      padding: 10px 10px 10px 35px; /* Décalage pour ne pas superposer l'icône */
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%; /* S'ajuste à la largeur */
      box-sizing: border-box; /* Prend en compte le padding dans la largeur */
    }

    .search-input:focus {
      outline: none;
      border-color: #eeae00; /* Couleur du focus */
    }
  }

  .filter-button {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px; /* Espace entre l'input et le bouton */
    border-radius: 10%; /* Bouton circulaire */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    span.material-icons {
      font-size: 1.5rem;
      color: #eeae00;
    }

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

