<div *ngIf="userType === 'candidat'" [ngClass]="{'list-active': list, 'list-inactive': !list}">
  <div *ngIf="!list" class="logo">
    <img src="assets/logo.png" alt="Logo" class="logo-image">
    <span class="welcome-message">Bonjour, <strong>Candidat</strong></span>
  </div>

  <div class="mt-3 text-light me-5" *ngIf="!list">
    <h3 style="font-weight: bold">Trouve vite ton temps partiel !</h3>
  </div>

  <div class="search-section" [ngClass]="{'search-section-active': list, 'search-section-inactive': !list}">
    <img *ngIf="list" src="assets/logo.png" alt="Logo" class="logo-image">
    <div class="search-input-wrapper">
      <i class="fas fa-search"></i>
      <input
        type="text"
        placeholder="Rechercher"
        class="search-input"
      />
    </div>
    <button (click)="openFilter()" class="filter-button">
      <span class="material-icons">tune</span>
    </button>
  </div>
</div>

<div class="header" *ngIf="userType === 'restaurant'">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" class="logo-image">
    <span class="welcome-message">Bonjour, <strong>Restaurant</strong></span>
  </div>

  <div>
    <h1>Trouve vite votre prochain candidat !</h1>{{list}}
  </div>

  <div class="search-section">
    <div class="search-input-wrapper">
      <i class="fas fa-search"></i>
      <input
        type="text"
        placeholder="Rechercher"
        class="search-input"
      />
    </div>
    <button (click)="openFilter()" class="filter-button">
      <span class="material-icons">tune</span>
    </button>
  </div>

</div>

