.list-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px 65px 20px;
  background: linear-gradient(98deg, #f1ba00, #f59609);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.list-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(98deg, #f1ba00, #f59609);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;

}

.logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.welcome-message {
  font-size: 1.2rem;
  color: #ffffff;
}

.search-section-active {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 2%;
  padding: 25px 20px;
}

.search-section-inactive {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 13%;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;


  i {
    position: absolute;
    left: 15px;
    color: #cccccc;
    font-size: 1.2rem;
  }

  .search-input {
    padding: 12px 12px 12px 55px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
  }

  .search-input:focus {
    outline: none;
    border-color: #eeae00; /* Couleur du focus */
  }
}

.filter-button {
  background-color: #fff;
  border: none;
  padding: 10px;
  margin-left: 10px; /* Espace entre l'input et le bouton */
  border-radius: 10px; /* Bouton circulaire */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  span.material-icons {
    font-size: 1.5rem;
    color: #3f3f3f;
    transform: rotate(90deg);
  }

  &:hover {
    background-color: #f3f3f3;
  }
}
