<div class="login-container">
  <h1>Bienvenue !</h1>
  <p class="subtitle">Le lorem ipsum est, en imprimerie, une suite de mots sans signification</p>

  <!-- Affichage des messages de succès et d'erreur -->
  <div *ngIf="isSuccess" @fadeInOut class="alert alert-success">
    {{ successMessage }}
  </div>

  <div *ngIf="isError" @fadeInOut class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Conteneur des onglets Connexion/Inscription -->
  <div class="toggle-container">
    <div class="btn-group toggle-group" role="group" aria-label="Toggle">
      <button type="button" class="btn toggle-button" id="connexion-btn" (click)="setToggle('connexion')" [ngClass]="{'active': currentToggle === 'connexion'}">Connexion</button>
      <button type="button" class="btn toggle-button" id="inscription-btn" (click)="setToggle('inscription')" [ngClass]="{'active': currentToggle === 'inscription'}">Inscription</button>
    </div>
  </div>

  <!-- Formulaire de Connexion -->
  <div *ngIf="currentToggle === 'connexion'">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="form-group mt-4">
        <label for="username-connexion" class="label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username-connexion" placeholder="Entrez votre nom d'utilisateur" formControlName="username" required>
      </div>

      <div class="form-group">
        <label for="password-connexion"  class="label">Mot de passe</label>
        <input type="password" class="form-control" id="password-connexion" placeholder="Entrez votre mot de passe" formControlName="password" required>
      </div>

      <div class="login-row">
        <div class="form-check mt-1">
          <input type="checkbox" class="form-check-input me-2 mt-0" id="stay-logged-in">
          <label class="form-check-label label" for="stay-logged-in">Rester connecté</label>
        </div>
        <a href="#" class="forgot-password label">Mot de passe oublié ?</a>
      </div>

      <button class="btn btn-primary full-width label mt-3" type="submit">Me connecter</button>
    </form>
  </div>

  <!-- Formulaire d'Inscription -->
  <div *ngIf="currentToggle === 'inscription'">
    <form [formGroup]="inscriptionForm" (ngSubmit)="onInscriptionSubmit()">
      <div class="form-group mt-4">
        <label for="username-inscription" class="label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username-inscription" placeholder="Créez un nom d'utilisateur" formControlName="username" required>
      </div>

      <div class="form-group">
        <label for="email-inscription" class="label">Email</label>
        <input type="email" class="form-control" id="email-inscription" placeholder="Entrez votre email" formControlName="email" required>
      </div>

      <div class="form-group">
        <label for="password-inscription" class="label">Mot de passe</label>
        <input type="password" class="form-control" id="password-inscription" placeholder="Créez un mot de passe" formControlName="password" required>
      </div>

      <div class="form-group">
        <label for="confirm-password-inscription" class="label">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirm-password-inscription" placeholder="Confirmez votre mot de passe" formControlName="confirmPassword" required>
      </div>

      <div class="form-group">
        <label for="user-type"  class="label">Type d'utilisateur</label>
        <select class="form-select" id="user-type" formControlName="userType" required>
          <option value="" disabled selected>Choisissez un type d'utilisateur</option>
          <option value="candidat">Candidat</option>
          <option value="restaurant">Restaurant</option>
        </select>
      </div>

      <button class="btn btn-primary full-width label mt-3" type="submit">M'inscrire</button>
    </form>
  </div>

  <p class="subtitle">Vous avez déjà un compte? <span class="span label" (click)="setToggle('connexion')">Se connecter</span></p>
</div>