.auth-container {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.toggle-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
}
