<!--<h2>Complétez votre profil</h2>
<p>Formation</p>
<mat-form-field appearance="outline">
 <mat-label>Dernier niveau de formation</mat-label>
 <input matInput [(ngModel)]="educationLevel">
</mat-form-field>
<div *ngFor="let diploma of diplomas; let i = index">
 <h3>Diplôme {{i + 1}}</h3>
 <mat-form-field appearance="outline">
   <mat-label>Nom de la formation</mat-label>
   <input matInput [(ngModel)]="diploma.name">
 </mat-form-field>
 <mat-form-field appearance="outline">
   <mat-label>Établissement</mat-label>
   <input matInput [(ngModel)]="diploma.institution">
 </mat-form-field>
 <mat-form-field appearance="outline">
   <mat-label>Début</mat-label>
   <input matInput type="date" [(ngModel)]="diploma.startDate">
 </mat-form-field>
 <mat-form-field appearance="outline">
   <mat-label>Fin</mat-label>
   <input matInput type="date" [(ngModel)]="diploma.endDate">
 </mat-form-field>
</div>
<button mat-button color="primary" (click)="addDiploma()">Ajouter une formation</button>
<button mat-raised-button color="primary" (click)="goToNextStep()">Continuer</button>

-->
