h2{
  margin-top: 1rem;
}
textarea{
  width: 100%;
  height: 7rem;
  border: 2px solid #e5e5e5;
  background-color: #f7f5f5;
  border-radius: 0.3rem;
}
.cv-section{
  display: flex;
  flex-direction: row;
}
.interview-date{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
.date-label{
  flex-grow: 1;
}
.formation-edit, .formation-delete, .competences-edit, .competences-delete{
  font-size: 1rem;
}
.cv-section{
  display: flex;
  flex-direction: row;
  // background-color: aquamarine;
}
.cv-edit{
  font-size: 1rem;
  // background-color: aqua;
  margin: 0;
  padding: 0;
  color: rgb(255, 217, 0);
}
.add-formarions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 1rem;
  gap: 1rem;
}
.-btn-add-formation{
  padding: 0;
}

.add-formarions .btn-add-formation{
  border-color: transparent;
  border-radius: 0.3rem;
}
.add-icon{
  background-color: #f6b400;
  color: rgb(255, 255, 255);
  border-radius: 0.2rem;
}
.btn-edit-pic{
  margin: 0;
  // background-color: aqua;
  top:0;
  right: 0;
  padding: 0;
}
.icon-edit-pic{
  color: rgba(111, 94, 10, 0.959);
}
.logo{
  margin-bottom: 0 !important;
  // background-color: aquamarine;
}
.bloc-pic{
  // background-color: antiquewhite;
  display: grid;
  gap: 0;
  grid-column: auto;
}


.grp-input{
  width: 100%;
  padding: 0.2rem;
  border: 2px solid #e5e5e5;
  background-color: #f7f5f5;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
}
.button-container {
  display: flex;
  gap: 1rem; /* espace entre les boutons */
  margin: auto;
  margin-top: 1rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.cancel {
  background-color: #1A0A45; /* Couleur bleu foncé */
  color: white;
}

.save {
  background-color: #FFC107; /* Couleur jaune */
  color: black;
}

.btn:hover {
  opacity: 0.9; /* Effet hover pour les deux boutons */
}



.popup-statut
{
  position: fixed;
  width: 100%;
  margin: auto;
  padding: auto;
}

.popup-title{
  font-size: 0.9rem;
  color: #f7b11c;
  margin: auto;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.dialog-actions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  // width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
.dateEntretien{
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 0.8rem;
  font-weight: 500;
}

.popup-button{
  background-color: #f7b11c;
  padding: 0.1rem 1.8rem;
  border-radius: 5px;
  border-color: transparent;
  font-size: 0.6rem;
  color: #000;
}

.plage-horaire{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin: 1rem;
  margin-bottom: 0.4rem;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}



.bloc-date{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFC107;
}

.periode{
  display: flex;
  justify-content: flex-end;
  background-color: #1A0A45;
}
