.content{
  height: calc(100% - 4rem); /* Ajustez 4rem en fonction de la hauteur de la barre de navigation */
  overflow-y: auto;
}
.edit{
  // background-color: #1A0A45;
  width: 70%;
  height: 1rem;
  background-color: transparent !important;
  border-color: transparent;
}
.edit .icon-edit{
  color:#f7b11c
}
h2{
  margin-top: 1rem;
}
textarea{
  width: 100%;
  height: 7rem;
  border: 2px solid #e5e5e5;
  background-color: #f7f5f5;
  border-radius: 0.3rem;
}
.cv-section{
  display: flex;
  flex-direction: row;
}
.interview-date{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
.date-label{
  flex-grow: 1;
}
.formation-edit, .formation-delete, .competences-edit, .competences-delete{
  font-size: 1rem;
}
.cv-section{
  display: flex;
  flex-direction: row;
  // background-color: aquamarine;
}
.cv-edit{
  font-size: 1rem;
  // background-color: aqua;
  margin: 0;
  padding: 0;
  color: rgb(255, 217, 0);
}
.add-formarions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 1rem;
  gap: 1rem;
}
.-btn-add-formation{
  padding: 0;
  border-radius: 0 !important;
  color: #000 !important;
  background-color: transparent;
  box-shadow: none !important;
  background-color: transparent !important;
}
mat-raised-button{
  color: #000 !important;
  background-color: transparent !important;
}

.add-formarions .btn-add-formation{
  border-color: transparent;
  border-radius: 0.3rem;
  color: #000;
}
.add-icon{
  background-color: #f6b400;
  color: rgb(255, 255, 255);
  border-radius: 0.2rem;
}
.btn-edit-pic{
  margin: 0;
  // background-color: aqua;
  top:0;
  right: 0;
  padding: 0;
}
.icon-edit-pic{
  color: rgba(111, 94, 10, 0.959);
}
.logo{
  margin-bottom: 0 !important;
  // background-color: aquamarine;
}
.bloc-pic{
  // background-color: antiquewhite;
  display: grid;
  gap: 0;
  grid-column: auto;
}


.grp-input{
  width: 100%;
  padding: 0.2rem;
  border: 2px solid #e5e5e5;
  background-color: #f7f5f5;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
}
.button-container {
  display: flex;
  gap: 1rem; /* espace entre les boutons */
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  justify-items: center;
}

.btn {
  padding: 7px 30px;
  border: none;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  // font-weight: 500;
  cursor: pointer;
}

.cancel {
  background-color: #FFC107; /* Couleur bleu foncé */
  color: white;
}

.button-container .cancelP {
  background-color: #041145 !important; /* Couleur bleu foncé */
  color: white;
}
.save {
  background-color: #FFC107; /* Couleur jaune */
  color: white;
}

.btn:hover {
  opacity: 0.9; /* Effet hover pour les deux boutons */
}



.popup-statut
{
  position: fixed;
  width: 100%;
  margin: auto;
  padding: auto;
}

.popup-title{
  font-size: 0.9rem;
  color: #f7b11c;
  margin: auto;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.dialog-actions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  // width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
.dateEntretien{
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 0.8rem;
  font-weight: 500;
}

.popup-button{
  background-color: #f7b11c;
  padding: 0.1rem 1.8rem;
  border-radius: 5px;
  border-color: transparent;
  font-size: 0.6rem;
  color: #000;
}

.plage-horaire{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin: 1rem;
  margin-bottom: 0.4rem;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.321);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}



.bloc-date{
  display: flex;
  flex-direction: column;
  gap: 10px;
  // background-color: #FFC107;
}

.periode .grid-container {
  display: grid;
  grid-template-columns: 1rem 1fr; /* Deux colonnes de largeur égale */
  grid-template-rows: auto auto; /* Deux lignes */
  gap: 2rem; /* Espacement entre les éléments */
  align-items: center; /* Alignement vertical */
}

.grid-item label {
  display: block;
  margin-bottom: 5px; /* Espacement entre le label et l'input */
  font-weight: bold;
}

.grid-item input {
  width: 100%; /* L'input prend toute la largeur disponible */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Pour inclure padding et bordure dans la largeur */
}



.periode-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, sans-serif;
}

.label {
  font-size: 0.9rem;
  color: #1d1135; /* Couleur sombre pour le texte */
  margin-bottom: 0.5rem;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  // width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
}
.popup-content label{
  color: #000;
}
.Date {
  width: 70%;
  padding: 0.5rem 0.3rem 0.5rem 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
}

input::placeholder {
  color: #6b6b6b; /* Couleur grise pour le placeholder */
}

.icon-calendar {
  position: absolute;
  right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  // background: url('path-to-calendar-icon.svg') no-repeat center center;
  background-size: contain;
  pointer-events: none;
}

.dateDebut, .dateFin{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  justify-items: flex-end;
  // background-color: #FFC107;
}

.errorDate{
  display: flex;
  color: red;
  font-size: 0.7rem;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #FFC107;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;

}


.logout-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  //background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer que la popup est en avant-plan */
}

.logout-content {
  background: #fff;
  padding: 15px 25px 10px 25px;
  border-radius: 8px 8px 0 0;
  width: 100%;
  text-align: center;
}

.logout-content .barre {
  border: 3px solid rgba(0, 0, 0, 1) !important;
  border-radius: 15px;
  width: 10%;
  text-align: center;
  margin: 10px auto;
}


.logout-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}

.confirm-button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #ffad00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-button {
  width: 100%;
  padding: 12px;
  background-color: #F6BB104A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}


