<!DOCTYPE html>
<div class="header">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="company_name"> inas HAKKOU </span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  <div class="bloc-pic">
    <div class="logo"></div>
    <button mat-icon-button class="btn-edit-pic">
      <mat-icon class="icon-edit-pic">edit</mat-icon>
    </button>
  </div>

</div>

<div class="content">
  <section class="company-info">
      <input type="text" name="user-name" id="user-name" class="grp-input" placeholder="{{user.nomUser}}" [(ngModel)]="user.emailUser">
    <div class="contact-info">
      <div class="info-item">
        <mat-icon>email</mat-icon>
          <div class="info">
              <p class="label">Email</p>
              <input type="text" name="user-email" id="user-email" class="grp-input">
               <!-- <p>inas.com</p> -->
          </div>
      </div>
      <div class="info-item">
        <mat-icon>phone</mat-icon>
          <div class="info">
              <p class="label">Numéro de téléphone</p>
              <input type="text" name="user-tel" id="user-tel" class="grp-input">
          </div>
      </div>
      <div class="info-item">
        <mat-icon>location_on</mat-icon>
          <div class="info">
              <p class="label">Localisation</p>
              <input type="text" name="user-adresse" id="user-adresse" class="grp-input">
          </div>
      </div>
      <div class="info-item">
         <mat-icon>event_available</mat-icon>
          <div class="info">
              <p class="label">Disponibilité</p>
              <input type="text" name="user-dispo" id="user-dispo" class="grp-input">
          </div>
      </div>
  </div>

  </section>

  <div class="separator"></div>
  <section class="description">
    <h2>Description</h2>
    <textarea name="description" class="user-description" id="user-description"></textarea>
    <div class="cv-section">
      <a href="#" class="lien">Voir le CV</a>
      <button mat-icon-button class="cv-edit">
        <mat-icon class="cv-edit">edit</mat-icon>
      </button>
    </div>

  </section>


  <div class="separator"></div>
  <section class="formations">
    <h2>Formations</h2>
    <div class="interview-date">
      <div class="date-label">
        <span class="showInfosEntretien">2022-2023</span>
        <ul class="interview-l">
          <li class="detailsEntretien">
            <span></span>master1
          </li>
          <li class="detailsEntite">
            <span></span>université lumière lyon 2
          </li>
        </ul>
      </div>
      <button mat-icon-button>
        <mat-icon class="formation-edit">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="formation-delete">delete</mat-icon>
      </button>
    </div>
    <div class="interview-date">
      <div class="date-label">
        <span class="showInfosEntretien">2024-2025</span>
        <ul class="interview-l">
          <li class="detailsEntretien">
            <span></span>master2
          </li>
          <li class="detailsEntite">
            <span></span>université lumière lyon 2
          </li>
        </ul>
      </div>
      <button mat-icon-button>
        <mat-icon class="formation-edit">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="formation-delete">delete</mat-icon>
      </button>
    </div>
    <div class="add-formarions">
      <button mat-raised-button color="primary" class="-btn-add-formation" id="btn-add-formation" (click)="openAddFormation()">
        <mat-icon class="add-icon">add</mat-icon> Ajouter une formation
      </button>
    </div>
  </section>

  <div class="separator"></div>
  <section class="advantages">
    <h2>Compétences</h2>
    <textarea name="user-competences" class="user-competences" id="user-competences"></textarea>
  </section>

  <div class="separator"></div>
  <section class="experiences">
    <h2>Experiences</h2>
    <div class="interview-date">
      <div class="date-label">
        <span class="showInfosEntretien">2022-2023</span>
        <ul class="interview-l">
          <li class="detailsEntretien">
            <span></span>• Employé polyvalant
          </li>
          <li class="detailsEntite">
            <span></span>• Lidl
          </li>
        </ul>
      </div>
      <button mat-icon-button>
        <mat-icon class="competences-edit">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="competences-delete">delete</mat-icon>
      </button>
    </div>
    <div class="add-formarions">
      <button mat-raised-button color="primary" class="-btn-add-formation" id="btn-add-formation">
        <mat-icon class="add-icon">add</mat-icon> Ajouter une experience
      </button>
    </div>
  </section>

  <div class="separator"></div>
  <section class="social-links">
    <h2>Social média</h2>
    <div class="info-item">
      <mat-icon>linkdIn</mat-icon>
        <div class="info">
          <p class="label">LinkdIn</p>
          <input type="text" name="user-linkdin" id="user-linkdin" class="grp-input">
        </div>
    </div>
  </section>
  <div class="button-container">
    <button class="btn cancel">Annuler</button>
    <button type="submit" class="btn save">Sauvegarder</button>
  </div>
</div>

<!-- ///////////////////// pop up edit fomations /////////////////////////////////// -->
<ng-template class="popup-statut" #editDialog>
  <h2 class="popup-title">Modifier le statut de la candidature</h2>
  <mat-radio-group class="items">
    <mat-radio-button value="Non évalué" class="custom-radio" color="primary">Non évalué</mat-radio-button>
    <mat-radio-button value="En cours">En cours</mat-radio-button>
    <mat-radio-button value="Accepté">Accepté</mat-radio-button>
    <mat-radio-button value="Refusé">Refusé</mat-radio-button>
  </mat-radio-group>
  <div class="dialog-actions">
    <button mat-button class="popup-button">Enregistrer</button>
    <button mat-button class="popup-button">Annuler</button>
  </div>
</ng-template>
