<div class="filter-modal">
  <div class="filter-icon-bar"></div>
  <h2>Filtrer</h2>
  <mat-divider></mat-divider>

  <div class="filter-section">
    <h3>Filtrer par</h3>
    <ul class="filter-list">
      <li>
        <label class="radio-label">
          <input type="radio" name="filterBy" value="recent" />
          <span class="radio-custom"></span> 
          Les plus récents
        </label>
      </li>
      <li>
        <label class="radio-label">
          <input type="radio" name="filterBy" value="pertinent" />
          <span class="radio-custom"></span> 
          Les plus pertinents
        </label>
      </li>
    </ul>
  </div>
  
  <div class="filter-section">
    <h3>Niveau d'étude</h3>
    <div class="filter-option">
      <button class="filter-button">Master/Master 2</button>
      <button class="filter-button">BAC+3</button>
      <button class="filter-button">BAC+2</button>
      <button class="filter-button">Licence</button>
      <button class="filter-button">BAC</button>
      <button class="filter-button">+</button>
    </div>
  </div>

  <div class="filter-section">
    <h3>Lieu</h3>
    <ul class="filter-list">
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="location" value="paris" />
          <span class="checkbox-custom"></span> Paris
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="location" value="lyon" />
          <span class="checkbox-custom"></span> Lyon
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="location" value="bordeaux" />
          <span class="checkbox-custom"></span> Bordeaux
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="location" value="nantes" />
          <span class="checkbox-custom"></span> Nantes
        </label>
      </li>
    </ul>
  </div>
  

  <div class="filter-section">
    <h3>Disponibilité</h3>
    <ul class="filter-list">
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="availability" value="immediate" />
          <span class="checkbox-custom"></span> Tout de suite
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="availability" value="3_days" />
          <span class="checkbox-custom"></span> Dans les 3 prochains jours
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="availability" value="weeks" />
          <span class="checkbox-custom"></span> Prochaines semaines
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="availability" value="next_month" />
          <span class="checkbox-custom"></span> Prochain mois
        </label>
      </li>
    </ul>
  </div>
  

  <div class="age-preference mt-4">
    <p>Age</p>
    <ngx-slider
      [(value)]="agePreference.min"
      [(highValue)]="agePreference.max"
      [options]="ageSliderOptions">
    </ngx-slider>
    <div class="age-range">
    </div>
  </div>

  <div class="filter-section">
    <h3>Spécialisation</h3>
    <ul class="filter-list">
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="specialization" value="serveur" />
          <span class="checkbox-custom"></span> Serveur
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="specialization" value="livreur" />
          <span class="checkbox-custom"></span> Livreur
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="specialization" value="nettoyage" />
          <span class="checkbox-custom"></span> Nettoyage
        </label>
      </li>
      <li>
        <label class="checkbox-label">
          <input type="checkbox" name="specialization" value="chef" />
          <span class="checkbox-custom"></span> Chef
        </label>
      </li>
    </ul>
  </div>
  

  <button class="apply-button" (click)="closeFilter()">Appliquer</button>
</div>
