.filter-modal {
  position: fixed;
  top: 10%; // Ajustez ici pour positionner le filtre un peu plus bas si nécessaire
  left: 50%;
  transform: translateX(-50%); // Centrer horizontalement
  width: 100%; // Ajustez la largeur en fonction de l’écran
  max-width: 400px;
  max-height: 90vh;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem;
  z-index: 1001;
  overflow-y: auto;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);


    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: #333;
    }
  
    .filter-section {
      margin-bottom: 1.5rem;
  
      h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #666;
        margin-bottom: 0.5rem;
      }
  
      .filter-option {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
  
        label {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          color: #333;
  
          input[type="checkbox"],
          input[type="radio"] {
            accent-color: #ff9500;
            cursor: pointer;
          }
        }
      }
    }
  
    .filter-button {
      background-color: #ff9500;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s ease;
      margin: 0.3rem;
  
      &:hover {
        background-color: #e68a00;
      }
    }
  
    .age-values {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      color: #666;
      margin-top: 0.5rem;
    }
  
    input[type="range"] {
      width: 100%;
      margin-top: 0.5rem;
      -webkit-appearance: none;
      height: 6px;
      background: #ff9500;
      border-radius: 5px;
      outline: none;
  
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ff9500;
        cursor: pointer;
      }
    }
  
    .apply-button {
      background-color: #ff9500;
      color: white;
      width: 100%;
      padding: 0.8rem;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #e68a00;
      }
    }
    .filter-icon-bar {
      width: 50px;  // Ajustez la largeur si nécessaire
      height: 4px;  // Ajustez la hauteur pour obtenir l'épaisseur souhaitée
      background-color: #c4c4c4; // Couleur de la barre, à ajuster si besoin
      border-radius: 2px;  // Arrondi des bords
      margin: 0 auto;  // Centrage horizontal
      margin-top: 8px;  // Espace au-dessus
      margin-bottom: 12px;  // Espace en-dessous pour séparer du titre
    }
    
    .mat-divider {
      color: #e7e7e7;
      margin-bottom: 7%;
    }
  }
  .filter-section h3 {
    font-weight: bold;
    color: #1a1a2e; /* Couleur de la maquette */
  }
  
  .filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .filter-list li {
    margin-bottom: 10px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4b4b5a; /* Couleur du texte */
  }
  
  .radio-label input[type="radio"] {
    display: none;
  }
  
  .radio-custom {
    width: 18px;
    height: 18px;
    border: 2px solid #4b4b5a; /* Couleur du contour */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  
  .radio-label input[type="radio"]:checked + .radio-custom {
    border-color: #ff9800; /* Couleur orange pour la sélection */
  }
  
  .radio-label input[type="radio"]:checked + .radio-custom::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff9800; /* Couleur orange pour l'intérieur */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  