<div class="container-details">
  <div class="top-section">
    <div class="item1">
      <button mat-icon-button>
        <mat-icon class="icon-header">arrow_back</mat-icon>
      </button>
      <span class="company_name"> Détails </span>
    </div>
  </div>
  <div class="container-details">
    <h1>Aperçu</h1>

    <section class="section1">
      <div class="bloc1">
        <span class="nomEntreprise">{{restaurantName}}</span>
        <span class="poste">{{jobTitle}}</span>
      </div>
      <img class="bloc2" src="{{logo}}">
    </section>

    <section class="section2">
      <section class="company-info">
        <div class="contact-info">
          <div class="info-item">
            <mat-icon>location_on</mat-icon>
            <div class="info">
              <p class="label">Lieu</p>
              <p class="text">{{location}}</p>
            </div>
          </div>

          <!-- Salaire -->
          <div class="info-item">
            <mat-icon>attach_money</mat-icon> <!-- Icône pour le salaire -->
            <div class="info">
              <p class="label">Salaire</p>
              <p class="text">{{salary}}Eur/heur</p>
            </div>
          </div>

          <!-- nombre heure -->
          <div class="info-item">
            <mat-icon style="color: #fbbc04;">schedule</mat-icon> <!-- Icône pour la disponibilité -->
            <div class="info">
              <p class="label">Nombre d'heures</p>
              <p class="text">{{hours}}h/semaine</p>
            </div>
          </div>

          <!-- temps de travail -->
          <div class="info-item">
            <mat-icon style="color: #fbbc04;">hourglass_empty</mat-icon> <!-- Icône pour la disponibilité -->
            <div class="info">
              <p class="label">Temps de travail</p>
              <p class="text">{{jobType}}</p>
            </div>
          </div>

          <!-- Type de contrat -->
          <div class="info-item">
            <mat-icon style="color: #fbbc04;">assignment</mat-icon> <!-- Icône pour la disponibilité -->
            <div class="info">
              <p class="label">Type de contrat</p>
              <p class="text">{{jobType}}</p>
            </div>
          </div>

          <!-- Disponibilité -->
          <div class="info-item">
            <mat-icon>event_available</mat-icon> <!-- Icône pour la disponibilité -->
            <div class="info">
              <p class="label">Disponibilité</p>
              <p class="text">{{selectedDays}}</p>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="separator"></div>
    <section class="description">
      <div class="blocTitle">
        <div class="iconAvant"></div>
        <h2>Compétences</h2>
      </div>
      <p class="Texte">{{competences}}</p>
    </section>

    <div class="separator"></div>
    <section class="description">
      <div class="blocTitle">
        <div class="iconDesc"></div>
        <h2>Description du poste</h2>
      </div>
      <p class="Texte">{{jobDescription}}</p>
    </section>

    <div class="separator"></div>
    <section class="description">
      <div class="blocTitle">
        <div class="iconProfil"></div>
        <h2>Profil</h2>
      </div>
      <p class="Texte">Niveau d'étude minimal {{niveauEtude}}</p>
    </section>

    <div class="separator"></div>
    <section class="description">
      <div class="blocTitle">
        <div class="iconComp"></div>
        <h2>Avantages</h2>
      </div>
      <p class="Texte">Avantages: {{avantages}}</p>
    </section>

    <!-- Boutons de navigation -->
    <div class="button-container row">
      <button (click)="goToPreviousStep()" class="btn fixed-button btn-primary col-5 me-2">
        Précédent
      </button>
      <button (click)="goToNextStep()" class="btn fixed-button btn-primary col-5">
        Publier le poste
      </button>
    </div>
  </div>
</div>

