<!-- src/app/accueil/accueil.component.html -->
<div class="accueil-container">
    <div class="logo">
      <img src="assets/logo.png" alt="JobFiksi Logo" />
    </div>
    <div class="menu">
      <h1 class="selected">Accueil</h1> <!-- Ajout de la classe selected -->
      <mat-divider></mat-divider>
      <button mat-button>Recherche</button>
      <mat-divider></mat-divider>
      <button mat-button>Mes favoris</button>
      <mat-divider></mat-divider>
      <button mat-button>Mes postes</button>
      <mat-divider></mat-divider>
      <button mat-button>Mon profil</button>
    </div>
    <button mat-icon-button class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  