.status-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espace entre les cartes */
  padding: 20px; /* Optionnel : marge autour du conteneur */
  font-size: 12px;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Espace à l'intérieur de la carte */
  border: 2px solid transparent; /* Bordure par défaut */
  border-radius: 8px; /* Coins arrondis */
  transition: border 0.3s; /* Transition fluide pour la bordure */
  width: 200px; /* Largeur fixe pour les cartes */
  height: 150px; /* Hauteur fixe pour les cartes */
  background-color: white;
}

mat-card.selected {
  border: 2px solid #ffad00; /* Bordure jaune lorsque sélectionné */
}

h2 {
  margin-top: 30px;
}

p{
  margin: 0px;
  text-align: center;
}

.icon-container{
  background-color: #ffebcb;
  border-radius: 100% !important;
  padding: 10px 12px;
}

mat-icon {
  color: #ffad00;
}
