.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  padding: 10px;
  box-sizing: border-box;
  position: relative; // Position relative pour fixer les éléments
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #484848; // Couleur de la flèche, modifiez si nécessaire
  position: absolute;
  left: 0; // Positionnement à gauche
  margin-right: auto; // Pour s’assurer qu’il est bien collé à gauche
  padding: 0px;

  mat-icon {
    font-size: 24px;
  }

  &:focus {
    outline: none;
  }
}

.skip-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #484848FF; // Couleur du texte "Abandonner", modifiez si nécessaire
  font-size: 14px;
  text-decoration-line: underline;
  position: absolute;
  right: 0; // Positionnement à droite
  margin-left: auto;
  padding: 0;
  width: 90px;
  &:focus {
    outline: none;
  }
}
